@media (max-width: 480px) and (orientation: portrait){

    .home-container{
        width: 100%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .home-container .option-container{
        width: 260px;
        height: 80px;
        margin: 25px 0;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,2,48,1) 60%);
        box-shadow: rgbA(32, 32, 32,.8) 0px 20px 30px -10px;
    }
    
    .home-container .option-container p{
        font-size: 1.2rem;
        font-weight: 500;
        color: #FFF;
    }
    
    .home-container .option-container .icon{
        font-size: 2.5rem;
        font-weight: 500;
        color: #FFF;
        margin-right: 10px;
    }

}